body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.listing {
    display: flex;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
.listing img {
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.listing h3 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
}
.listing p {
    margin-bottom: 5px;
}
.listing h3 {
    color: #007bff;
    text-decoration: none;
}

.listing h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.created_at {
    font-size: 13px;
    font-weight: 400;
    color: gray;
}

.description {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(61, 60, 60);
}

main {
    margin-left: 30px;
}


.price {
    font-size: 23px;
    font-weight: 600;
}

.commenter {
    font-size: 20px;
}

.comment {
    margin-left: 20px;
}

