body {
    padding: 10px;
    font-family: Arial, sans-serif;
}


.listing {
    display: flex;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.listing a {
    color: black;
    text-decoration: none;
}

.listing a:hover {
    color: #007bff;
}

.listing-img {
    flex: 1;
    display: inline;
}

.listing-description {
    flex: 7;
    display: inline-block;
    cursor: auto;
}
.listing-title {
    font-weight: 500;
    cursor: pointer;
}

.created_at {
    font-size: 13px;
    font-weight: 400;
    color: gray;
}

.description {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(61, 60, 60);
}

main {
    margin-left: 30px;
}


.price {
    font-size: 25px;
    font-weight: bold;
}

.commenter {
    font-size: 20px;
}

.comment {
    margin-left: 20px;
}

#id_title, #id_image {
    width: 90%;
    padding: 3px 8px;
    margin-bottom: 20px;
}
