{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <label for="id_title" class="input-group-text">Title:</label>
            </div>
            <input class="form-control" type="text" name="title" maxlength="100" required id="id_title">
        </div>
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <label for="id_image" class="input-group-text">Image URL:</label>
            </div>
            <input  class="form-control" type="url" name="image" maxlength="400" id="id_image">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <label for="id_starting_price" class="input-group-text">Starting price:</label>
            </div>
            <input style="max-width: 150px;" class="form-control" type="number" name="starting_price" min="0.01" step="0.01" required id="id_starting_price">
        </div>
    
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <label for="id_category" class="input-group-text">Category</label>
            </div>
            <select style="max-width: 150px;" class="form-control" data-style="btn-primary" name="category" id="id_category">
                {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category }}</option>
                {% endfor %}
            </select>            
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <label for="id_description" class="input-group-text">Description:</label>
            </div>
            <textarea class="form-control" name="description" cols="40" rows="10" required id="id_description"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Listing</button>
        </div>
    </form>
{% endblock %}
