{% extends "auctions/layout.html" %}

{% block title %}
    Active listings
{% endblock %}

{% block body %}    
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-12">
                    <div class="listing">
                            <div style="flex: 2">
                                <a href="{% url 'listing' listing.pk %}">
                                    <h3>{{ listing }}</h3>
                                </a>
                                <p class="price">${{ listing.current_price }}</p>
                                <p style="color: rgb(61, 60, 60);">{{ listing.description }}</p>
                            </div>
                            {% if listing.image %}
                                <img src="{{ listing.image }}" alt="{{ listing }} Image">
                            {% endif %}
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    <div class="listing">
                            <div style="flex: 2">
                                <h4>No listings</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
      
{% endblock %}
