{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <div class="listing">
                <div class="listing-img">
                    {% if listing.image %}
                        <img width="150" src="{{ listing.image }}" alt="{{ listing.title }} image">
                    {% endif %}
                </div>
                <div class="listing-description">
                    <a href="{% url 'listing' listing.pk %}">
                        <div class="listing-title">Title: {{ listing }}</div>
                    </a>
                    <div>Price: ${{ listing.current_price }}</div>
                    <div class="created_at">Created at: {{ listing.created_at }}</div>
                </div>
            </div>
        {% empty %}
            <li>No listings.</li>
        {% endfor %}
    </ul>
{% endblock %}
