{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <a href="{% url 'listing' listing.pk %}">
                <li>
                    <div>Title: {{ listing }}</div>
                    <div>Description: {{ listing.description }}</div>
                    <div>Current Price: {{ listing.current_price }}$</div>

                    {% if listing.image %}
                        <img src="{{listing.image}}" alt="{{ listing.title }} image">
                    {% endif %}
                </li>
            </a>
        {% empty %}
            <li>No listings.</li>
        {% endfor %}
    </ul>
{% endblock %}