{% extends "auctions/layout.html" %}

{% block body %}
    <main>
        {% if not listing.status %}
            <p class="alert alert-danger">This listing has been closed!</p>
        {% endif %}
        <h1>Listing: {{ listing.title }}</h1>
        <div>
            {% if listing.image %}
                <img src="{{ listing.image }}" alt="{{ listing.title }} image">
            {% endif %}
        </div>

        <p class="description">{{ listing.description}}</p>
        <p class="price">${{ listing.current_price }}</p>
        <Details>
            <ul>
                <li>Date was created: {{ listing.created_at }}</li>
                <li>Listed by: {{ listing.seller }}</li>
                <li>Category: {{ listing.category }}</li>
            </ul>
        </Details>


        {% if listing.status %}
            {% if user == listing.seller %}
                <form action="{% url 'close' %}" method="post">
                    {% csrf_token %}
                    <br>
                    <input type="numebr" name="listing_id" hidden value="{{ listing.pk }}">
                    <input type="submit" class="btn btn-danger" value="Close">
                </form>
            {% else %}
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="listing_id" value="{{ listing.pk }}" hidden>
                    <br>
                    {% if in_watchlist %}
                        <button class="btn btn-danger" name="action" type="submit" value="remove">Remove from watch list</button>
                    {% else %}
                        <button class="btn btn-secondary" name="action" type="submit" value="add">Add to watch list</button>
                    {% endif %}
                </form>
                <br>
                    <p>{{ listing.bidding_count }} bid(s) so far.</p>
                    <form action="{% url 'bid' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="numer" name="amount" min="0.01" required placeholder="Bid">
                        </div>
                        <input type="number" name="listing_id" value="{{ listing.pk }}" hidden>
                        <button class="btn btn-primary">Place Bid</button>
                    </form>
            {% endif %}
        <div>
            <br>
            <h4>Comments</h4>
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="text" min="0.01" required placeholder="Comment">
                </div>
                <input type="number" name="listing_id" value="{{ listing.pk }}" hidden>
                <button class="btn btn-primary" type="submit">Comment</button>
            </form>
            <br>
            {% for comment in comments %}
                <span class="commenter">{{ comment.commenter }}</span>
                <p class="comment">{{ comment }}</p>
            {% empty %}
                <li>No comments.</li>
            {% endfor %}
        </div>
    {% endif %}
    </main>
{% endblock %}